
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="appicon.png" type="image/png" />
  </head>
  <body>
    <section class="page-header">
      <section>
        <img src="{{ site.logo }}" width="60%" style="" align="center"><!--{{ site.title | default: site.github.repository_name }}</h1>-->
      </section>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <h3 class="project-tagline" style="font-style: italic;">{{ site.motto }}</h3>
      <section id="menu">
        <br>
        <section id="menu-bar" class="btn">
          <a href="#how-works" class="btn">How it works</a>
          <a href="#arch-view" class="btn">Architecture overview</a>
          <a href="#install-source" class="btn">Installation &amp; source code</a>
          <a href="#team" class="btn">Team presentation</a>
        </section>
      </section>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer" >
        <a href="unimovemate@gmail.com" style="color: gray; font-style: italic;">Contact us at <img src="gmailicon.png" alt="gmail" width="20"></a>
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
